.point {
  width: 180px;
  height: 180px;
  text-align: center;
  position: absolute;
  /*border: 1px solid white;*/
  color: white;
  cursor: pointer;
}
.point span {
  filter: drop-shadow(3px 2px rgba(0,0,0,0.8));
  font-size: 20px;
  font-weight: 700;
}
.playIcon {
  width: 60px;
  height: 140px;
  padding-top: 50px;
  margin: auto;
  display: block;
  opacity: 0.75;
}
.point:hover .playIcon{
  opacity: 1;
}
.lockIcon {
  width: 60px;
  height: 140px;
  padding-top: 50px;
  margin: auto;
  display: none;
  opacity: 0.75;
}
.locked .playIcon {
  display: none;
}
.locked .lockIcon {
  display: block;
}

.playIcon img,
.lockIcon img {
  border: 3px solid white;
  box-shadow: 6px 6px 6px
    rgba(255, 255, 255, 0.5);
}
