.chapters {
  width: 1080px;
  height: 607px;
  background: rgba(255, 250, 137, 1);
}

.content {
  width: 1080px;
  height: 607px;
  background-image: url(../imgs/roadmap_sd.png);
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
}

.card {
  position: relative;
  height: 300px;
  width: 300px;
}

.card p {
  position: relative;
  margin-top: 80px;
}

.roadmapImg {
  position: relative;
  transform: translateY(50%);
}
