.bg {
  width: 1080px;
  height: 607px;
  background: #FF93A3;
  text-align: center;
}

.bgImg {  
  margin: auto;
  width: 1080px;
  height: 607px;
  position: relative;
  background-size: 1080px;
  background-repeat: no-repeat;
  background-position: center;
}
