.account {
  width: 1080px;
  height: 607px;
  background-color: #dbff76;
  text-align: center;
}

.accountIcon {
  width: 60px;
  height: 60px;
  position: absolute;
  overflow: hidden;
  left: 30px;
  top: 30px;
}
.accountIconBg {
  width: 60px;
  height: 60px;
  background-color: #b7c26e;
  position: relative;
  border-radius: 50%;
  padding: 8px 5px;
}
.settings {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.stat {
  padding-top: 80px;
}