.story {
  width: 1080px;
  height: 607px;
  background: black;
}

.storyContent {
  width: 1080px;
  height: 607px;
}

.page {
  width: 540px;
  height: 607px;
  position: relative;
  overflow: hidden;
  background-size: 540px;
  background-repeat: no-repeat;
  background-color: #D3FFFE;
}

.page_left {
  background-size: 1080px;
  margin-left: 0px;
  background-position-x: 0px;
}

.page_right {
  background-size: 1080px;
  margin-left: 0px;
  background-position-x: -540px;
}

.sp_page {
  background-color: #f4e8f9;
}

.text {
  position: absolute;
  left: 18px;
  bottom: 20px;
  word-break: break-all;
  word-wrap: break-word;
  max-width: 500px;
  color: #ffffff;
  /* offset-x | offset-y | blur-radius | color */
  text-shadow: 1px 1px 2px black;
}

.switch {
  width: 360px;
  position: absolute;
  top: 100px;
}

.switchItem {
  width: 360px;
  margin-bottom: 30px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.nextStory {
  position: absolute;
  right: 100px;
  bottom: 30px;
  width: 260px;
  height: 80px;
  padding: 10px;
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.kb {
  padding: 15px 22px 15px 0;
}

.kb h1 {
  padding-top: 12px;
  padding-bottom: 2px;
  font-size: 32px;
  line-height: 58px;
}

.kb p {
  line-height: 32px;
  font-size: 20px;
}

.navItem {
  width: 320px;
  height: 410px;
  opacity: 1;
  position: relative;
  margin: auto;
  margin-top: 18px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 4px 4px 20px
    rgba(
      0.09019608050584793,
      0.14509804546833038,
      0.1568627506494522,
      0.10000000149011612
    );
  background-color: #d2e1fb;
  cursor: pointer;
}
.navItemIcon {
  width: 220px;
  margin: auto;
}
.navItemTitle {
  width: 320px;
  height: 68px;
  background: rgba(255, 255, 255, 1);
  padding: 16px 20px;
  position: absolute;
  top: 346px;
  left: 0px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
  text-align: center;
}
.navItemTitleText {
  color: rgba(29, 25, 31, 1);
  position: relative;
  font-family: Rubik;
  font-weight: Medium;
  font-size: 24px;
}

.playBtnIcon {
  position: absolute;
  right: 180px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  opacity: 0.75;
}
.playBtnIcon:hover{
  opacity: 1;
  width: 60px;
  height: 60px;
}